<nav class="navbar navbar-default" style="background-color: #000000;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="..">Ruby on Rails 4: Getting Started</a>
</div>

<div class="btn-group navbar-right" role="group" aria-label="...">

  <%=
  if current_user_email
    raw('<button type="button" class="btn btn-success">' + current_user_email + '</button>')
  else
    raw('<button type="button" class="btn btn-success">Sign In</button>')
  end
  %>
  <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#AskAQuestionForm">Ask a Question</button>
</div>

        </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
